In [1]:
#The following project is a spam mail detector which uses machine learning.
#The machine learning algorithm predicts whether emails are spam or Ham.

""" Work Flow- 
    dataset is collected which will be used as a training set
    data preprocessing (convert text data into more machine workable numeric data)
    train test split
    logical regression model
    
    
    once the logical regression model is made 
    input will be a new mail -> Trained Logical Regression Model -> Spam or Ham (predictor)
"""
#importing libraries
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
#loading the data from csv file to the pandas dataframe
raw_mail_data=pd.read_csv('/content/mail_data.csv')

In [5]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
raw_mail_data.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [8]:
#replace the null values with null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [9]:
# printing the 5 rwos of the datafarme
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
#number of rows and columns
mail_data.shape

(5572, 2)

5571 rows and 2 columns

In [14]:
# labbeling spam mails as 0
# And ham mails as 1

mail_data.loc[mail_data['Category'] == 'spam' , 'Category' ,]=0
mail_data.loc[mail_data['Category'] == 'ham' , 'Category' ,]=1

Ham is represented by 1
and Spam is represented by 0

In [17]:
# the data now looks like
mail_data.head(10)

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...
5        0  FreeMsg Hey there darling it's been 3 week's n...
6        1  Even my brother is not like to speak with me. ...
7        1  As per your request 'Melle Melle (Oru Minnamin...
8        0  WINNER!! As a valued network customer you have...
9        0  Had your mobile 11 months or more? U R entitle...

In [22]:
# seperating the data as texts and labels
A = mail_data['Message']
B = mail_data['Category']

In [23]:
print(A)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [24]:
print(B)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Spliting the data into training data and test data

In [25]:
A_train, A_test, B_train, B_test = train_test_split(A, B, test_size=0.2, random_state=3)

0.2 in test size represents 80% data given for the training of thr model

In [27]:
print(A.shape)
print(A_train.shape)
print(A_test.shape)

(5572,)
(4457,)
(1115,)

Feature Extraction

In [28]:
# transform the text data to feature vectors that can be used as input to the logistic regression

feature_extraction = TfidfVectorizer(min_df =1, stop_words='english', lowercase='True')

In [29]:
A_train_features =feature_extraction.fit_transform(A_train)
A_test_features = feature_extraction.transform(A_test)

# convert B_train B_test values as integers

B_train =B_train.astype('int')
B_test =B_test.astype('int')

In [32]:
print(A_train)

3075                  Don know. I did't msg him recently.
1787    Do you know why god created gap between your f...
1614                         Thnx dude. u guys out 2nite?
4304                                      Yup i'm free...
3266    44 7732584351, Do you want a New Nokia 3510i c...
                              ...
789     5 Free Top Polyphonic Tones call 087018728737,...
968     What do u want when i come back?.a beautiful n...
1667    Guess who spent all last night phasing in and ...
3321    Eh sorry leh... I din c ur msg. Not sad alread...
1688    Free Top ringtone -sub to weekly ringtone-get ...
Name: Message, Length: 4457, dtype: object

In [33]:
print(A_train_features)

  (0, 5413)	0.6198254967574347
  (0, 4456)	0.4168658090846482
  (0, 2224)	0.413103377943378
  (0, 3811)	0.34780165336891333
  (0, 2329)	0.38783870336935383
  (1, 4080)	0.18880584110891163
  (1, 3185)	0.29694482957694585
  (1, 3325)	0.31610586766078863
  (1, 2957)	0.3398297002864083
  (1, 2746)	0.3398297002864083
  (1, 918)	0.22871581159877646
  (1, 1839)	0.2784903590561455
  (1, 2758)	0.3226407885943799
  (1, 2956)	0.33036995955537024
  (1, 1991)	0.33036995955537024
  (1, 3046)	0.2503712792613518
  (1, 3811)	0.17419952275504033
  (2, 407)	0.509272536051008
  (2, 3156)	0.4107239318312698
  (2, 2404)	0.45287711070606745
  (2, 6601)	0.6056811524587518
  (3, 2870)	0.5864269879324768
  (3, 7414)	0.8100020912469564
  (4, 50)	0.23633754072626942
  (4, 5497)	0.15743785051118356
  :	:
  (4454, 4602)	0.2669765732445391
  (4454, 3142)	0.32014451677763156
  (4455, 2247)	0.37052851863170466
  (4455, 2469)	0.35441545511837946
  (4455, 5646)	0.33545678464631296
  (4455, 6810)	0.29731757715898277
  (4455, 6091)	0.23103841516927642
  (4455, 7113)	0.30536590342067704
  (4455, 3872)	0.3108911491788658
  (4455, 4715)	0.30714144758811196
  (4455, 6916)	0.19636985317119715
  (4455, 3922)	0.31287563163368587
  (4455, 4456)	0.24920025316220423
  (4456, 141)	0.292943737785358
  (4456, 647)	0.30133182431707617
  (4456, 6311)	0.30133182431707617
  (4456, 5569)	0.4619395404299172
  (4456, 6028)	0.21034888000987115
  (4456, 7154)	0.24083218452280053
  (4456, 7150)	0.3677554681447669
  (4456, 6249)	0.17573831794959716
  (4456, 6307)	0.2752760476857975
  (4456, 334)	0.2220077711654938
  (4456, 5778)	0.16243064490100795
  (4456, 2870)	0.31523196273113385

Training the  Model

Logistic Regression

In [34]:
model=LogisticRegression()

In [37]:
# training the Logistic Regression Model with the training data
model.fit(A_train_features, B_train)

LogisticRegression()

Evaluating the trained model

In [38]:
#prediction on training data
prediction_on_training_data = model.predict(A_train_features)
accuracy_on_training_data = accuracy_score(B_train, prediction_on_training_data)

In [39]:
print('Accuracy on training data: ', accuracy_on_training_data)

Accuracy on training data:  0.9670181736594121

good accuracy

In [47]:
#prediction on test data
prediction_on_test_data = model.predict(A_test_features)
accuracy_on_test_data = accuracy_score(B_test, prediction_on_test_data)

In [48]:
print('Accuracy on test data: ', accuracy_on_test_data)

Accuracy on test data:  0.9659192825112107

The reason we calculated the accuracy score for both training and test data is to check overfit is in order to check that the model fits same for both test and training data. This ensures model is general and not training data specific.

As here in our case the accuracy is similar thus, the model fits well.

Building the Predictive System

In [52]:
input_mail = ["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."]
# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)
print(prediction)
 
if (prediction[0]==1):
  print('Ham Mail')

else:
  print('Spam Mail')

[1]
Ham Mail

The model predicted correctly the email is ham mail

![image.png]()